alembic
annotated-types
anyio
bcrypt==3.2.0
click
fastapi
google-generativeai
gunicorn
h11
httpx
idna
Jinja2
Mako
MarkupSafe
passlib[bcrypt]
psycopg2-binary
pydantic
pydantic_core
PyJWT
python-dotenv
python-multipart
pytest
slowapi
sniffio
SQLAlchemy
sqlmodel
starlette
typing-inspection
typing_extensions
uvicorn